.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  button {
      margin-left:10px
  }

  .mat-raised-button{
      margin-right: 15px;
  }