<mat-card>
    <h1>new book</h1>
    
        <form #addbook="ngForm"(ngSubmit)="onSubmit()">
             <input [(ngModel)]="book_name"
                 placeholder="book name"
                                name="book_name"
                                required
                                #auth = "ngModel">
                                <mat-error *ngIf="!(auth.valid || auth.pristine)">
                                    book name  is required
                                </mat-error>
<br>
<br>

         <input [(ngModel)]="book_author"
         placeholder="book author"
                    name="book_author"
                     required
                     #auth = "ngModel">
            <mat-error *ngIf="!(auth.valid || auth.pristine)">
                book author  is required
            </mat-error>

            <br>
            <br>
         <div>
         <button mat-raised-button color= "primary" >{{buttonText}}</button>
         <button mat-raised-button color= "primary" [routerLink]="'/books'" >Cancel</button>
        </div>
         </form>
         </mat-card>