<p *ngIf = "!(books$ | async)"> Loding...</p>

<mat-accordion>
  <br>
  <button mat-raised-button color="primary" routerLink="/addbook" routerLinkActive="active">Add book</button>
  <br>
  <br>
  <mat-expansion-panel *ngFor = "let book of books$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
         {{book.title}} 
        </mat-panel-title>
      </mat-expansion-panel-header> 
      by {{book.author}}  
      <button mat-raised-button color="primary" (click)=deleteBook(book.id)>Delete</button>
      <button mat-raised-button color="primary"  [routerLink]="'/addbook/' + book.id">update</button>
      <br>
    </mat-expansion-panel>
  </mat-accordion>
  