<p *ngIf = "!(posts$)">Loding...</p>
<br>
<div ng-controller="myCtrl">
  <button mat-raised-button color="primary" routerLink="/addpost" routerLinkActive="active">Add post</button>
  <!-- <button mat-raised-button color="primary" (click)="saveFunc()">Save to firestore</button> -->
  <p>{{message}}</p>
</div>
  <form #addpost>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$">  
      <mat-expansion-panel-header>
        <mat-panel-title>
            <h3>{{post.title}}</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
     <p>{{post.body}}</p>
     <p>{{post.author}}</p>
      <!-- <div *ngFor = "let user of users$">
        <div *ngIf = "user.id == post.userId"> 
          <p>Auther: {{user.name}}</p>
        </div>
      </div> -->
      <button 
      mat-raised-button color="primary"
      (click)= deletePost(post.id)>
      Delete
   </button>
   <button 
   mat-raised-button color="primary"
   [routerLink]="'/addpost/' + post.id">
   Update
</button>
   
     
    </mat-expansion-panel>
  </mat-accordion>
</form>

