<mat-card>
    <h1>New Post</h1>
    <form #addpost="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field>
            <input 
                matInput placeholder="Post title"
                [(ngModel)] = "title"
                name = "title">
        </mat-form-field> 
        <mat-form-field>
            <input 
                matInput placeholder="Post body"
                [(ngModel)] = "body"
                name = "body">
        </mat-form-field> 
        <mat-form-field>
                <input 
                    matInput placeholder="Post author"
                    [(ngModel)] = "author"
                    name = "author">
        </mat-form-field>                   
        <div >
          <button mat-raised-button color="primary" [disabled]="!addpost.form.valid">{{buttonText}}</button>
          <button mat-raised-button [routerLink]="'/posts'" >Cancel</button>
        </div>
      </div>
    </form>
    </mat-card>
