<p *ngIf = "!(listsOfAuthor$ | async)">Loading...</p>
<mat-selection-list #auth>
      <mat-list-option *ngFor="let author of listsOfAuthor$ | async">
        {{author}}
      </mat-list-option>
  </mat-selection-list>
  <h4>Add Author</h4>
  <form #addauthor="ngForm"(ngSubmit)="addAuthors(name)">
      <div>
                  <input [(ngModel)]= "name"
                                  name="name"
                                  required 
                                  #author = "ngModel">
              <p *ngIf="!(author.valid || author.pristine)">
                  Author Is Required
              </p>
          

      </div>
          <button mat-raised-button color="primary" [disabled] = "!addauthor.form.valid">Submit</button>
      </form>
      
    